{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for photograph in photograph_list %}
    <div class="col-sm-4 col-md-3">

        <a href="{% url 'photograph_update' photograph.id %}" >
            <div class="thumbnail">
                <img src="/{{ photograph.data }}" alt="{{ photograph.name }}" />
                <div class="caption">
                    <h3>{{ photograph.name }}</h3>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}